In [1]:
import pandas as pd
df=pd.read_csv('/content/Train_Data.csv')

In [2]:
df

            age     sex        bmi smoker     region  children       charges
0     21.000000    male  25.745000     no  northeast         2   3279.868550
1     36.976978  female  25.744165    yes  southeast         3  21454.494239
2     18.000000    male  30.030000     no  southeast         1   1720.353700
3     37.000000    male  30.676891     no  northeast         3   6801.437542
4     58.000000    male  32.010000     no  southeast         1  11946.625900
...         ...     ...        ...    ...        ...       ...           ...
3625  48.820767  female  41.426984     no  northwest         4  10987.324964
3626  38.661977  female  26.202557     no  southeast         2  11735.844352
3627  56.000000    male  40.300000     no  southwest         0  10602.385000
3628  48.061207  female  34.930624     no  southeast         1   8976.140452
3629  37.598865  female  25.219233     no  northeast         3   7027.698968

[3630 rows x 7 columns]

In [3]:
df.isnull().sum()

age         0
sex         0
bmi         0
smoker      0
region      0
children    0
charges     0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()

In [6]:
df['sex']=le.fit_transform(df['sex'])
df['smoker']=le.fit_transform(df['smoker'])
df['region']=le.fit_transform(df['region'])

In [7]:
df

            age  sex        bmi  smoker  region  children       charges
0     21.000000    1  25.745000       0       0         2   3279.868550
1     36.976978    0  25.744165       1       2         3  21454.494239
2     18.000000    1  30.030000       0       2         1   1720.353700
3     37.000000    1  30.676891       0       0         3   6801.437542
4     58.000000    1  32.010000       0       2         1  11946.625900
...         ...  ...        ...     ...     ...       ...           ...
3625  48.820767    0  41.426984       0       1         4  10987.324964
3626  38.661977    0  26.202557       0       2         2  11735.844352
3627  56.000000    1  40.300000       0       3         0  10602.385000
3628  48.061207    0  34.930624       0       2         1   8976.140452
3629  37.598865    0  25.219233       0       0         3   7027.698968

[3630 rows x 7 columns]

In [8]:
x=df.drop('charges',axis=1)
y=df['charges']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [13]:
model.score(x_train,y_train)

0.7198834672258508

In [14]:
model.score(x_test,y_test)

0.7041227672298489

In [15]:
from sklearn.tree import DecisionTreeRegressor

In [16]:
model1=DecisionTreeRegressor()

In [17]:
model1.fit(x_train,y_train)

DecisionTreeRegressor()

In [18]:
model1.score(x_train,y_train)

0.9989805425439341

In [19]:
model1.score(x_train,y_train)

0.9989805425439341

In [20]:
test_data=pd.read_csv('/content/Test_Data.csv')

In [21]:
test_data

           age     sex        bmi smoker     region  children
0    40.000000    male  29.900000     no  southwest         2
1    47.000000    male  32.300000     no  southwest         1
2    54.000000  female  28.880000     no  northeast         2
3    37.000000    male  30.568094     no  northeast         3
4    59.130049    male  33.132854    yes  northeast         4
..         ...     ...        ...    ...        ...       ...
487  51.000000    male  27.740000     no  northeast         1
488  33.000000    male  42.400000     no  southwest         5
489  47.769999    male  29.064615     no  northeast         4
490  41.530738  female  24.260852     no  southeast         5
491  36.000000    male  33.400000    yes  southwest         2

[492 rows x 6 columns]

In [22]:
test_data['sex']=le.fit_transform(test_data['sex'])
test_data['smoker']=le.fit_transform(test_data['smoker'])
test_data['region']=le.fit_transform(test_data['region'])

In [23]:
test_data

           age  sex        bmi  smoker  region  children
0    40.000000    1  29.900000       0       3         2
1    47.000000    1  32.300000       0       3         1
2    54.000000    0  28.880000       0       0         2
3    37.000000    1  30.568094       0       0         3
4    59.130049    1  33.132854       1       0         4
..         ...  ...        ...     ...     ...       ...
487  51.000000    1  27.740000       0       0         1
488  33.000000    1  42.400000       0       3         5
489  47.769999    1  29.064615       0       0         4
490  41.530738    0  24.260852       0       2         5
491  36.000000    1  33.400000       1       3         2

[492 rows x 6 columns]

In [24]:
import numpy as np

In [25]:
test=np.array([40.000000,1,29.900000,0,3,2])

In [26]:
test

array([40. ,  1. , 29.9,  0. ,  3. ,  2. ])

In [27]:
result=model1.predict(test.reshape(1,-1))

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [28]:
result

array([6999.27466188])